.box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
}

.card-container {
  display: flex;
  gap: 20px;
}

.card {
  width: 300px;
  background-color: #252526;
  border: 2px solid #dbc300;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

h3 {
  color: white;
}

p {
  color: #dbc300;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  /* background-color: white; */
  border: 2px solid #dbc300;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
