.navbar {
  display: block;
  width: 1200px;
  height: 80px;
}
.navbar ul {
  overflow: auto;
  padding-right: 30px;
}
.navbar li {
  float: right;
  list-style: none;
  padding-top: 21px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 200;
}
.navbar li a {
  text-decoration: none;
  color: #dbc300;
}
.navbar li a:hover {
  color: white;
}
.home a {
  float: none;
}
#name {
  display: inline-block;
  padding-top: 0px;
  font-size: 35px;
  font-weight: 400;
  padding-left: 0px;
}
.navbar {
  background-color: #252526;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.submenu , .bars{
  display: none;
}
.navbar ul li:hover .submenu {
  display: block;
  position: absolute;
  background-color: #252526;
  height: 280px;
  width: 210px;
  margin-left: -40px;
  border-radius: 7px;
  padding-bottom: 10px;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  font-size: 13px;
  text-align: center;
  border-bottom: 10px;
  z-index: 99;
}
.liny
{
  text-decoration: none;
  color: #dbc300;
  cursor:url("media/cursor.png"),default;
}
.navbar ul li:hover .bars{
  display: block;
  position: absolute;
  background-color: #252526;
  height: 100px;
  width: 150px;
  margin-left: -115px;
  border-radius: 7px;
  padding-bottom: 10px;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  font-size: 13px;
  text-align: center;
  border-bottom: 10px;
  z-index: 99;
}