* {
  cursor: url("media/cursor.png"), default;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #252526;
  font-family: "Orbitron";
  color: #dbc300;
  word-spacing: 2px;
  letter-spacing: 2px;
}
#content {
  padding-top: 80px;
  position: relative;
}

.important {
  perspective: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
#image {
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 620px;
}
#bgimg:hover {
  transition: 1s;
  left: 0;
}
#bgimg {
  width: 100%;
}
#tagline {
  font-size: 50px;
  top: 220px;
  font-weight: 550;
}
#para {
  top: 300px;
  font-size: 25px;
  font-weight: 10px;
}
.centered {
  position: absolute;
  left: 100px;
  color: black;
}
#banner {
  left: 800px;
  top: 10%;
  left: 65%;
}
#banner,
#bgimg {
  position: absolute;
}
.head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 40px;
}
#heading {
  height: 900px;
  background-color: white;
}
.log {
  height: 900px;
  width: 100%;
}
.link {
  color: #dbc300;
  text-decoration: none;
}
.link:hover {
  color: white;
}
.aboutpara {
  display: block;
  padding-top: 10px;
  padding: 10px 50px 200px 50px;
  text-align: left;
  word-spacing: 5px;
  font-size: 20px;
  line-height: 1.3;
}
#aboutlinks {
  padding: 0px 270px 200px 270px;
}
#aboutlinks h4 {
  font-size: 20px;
  display: inline;
  padding-top: 50px;
  padding-right: 70px;
  text-align: center;
}
.aboutimp {
  height: 6300px;
  width: 100%;
}
#series {
  padding: 100px 200px 200px 200px;
  font-size: 20px;
}
#liseries {
  height: 495px;
  overflow-x: auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}
#liseries li {
  list-style: none;
}
#ligames li {
  list-style: none;
}
#games {
  padding-top: 100px;
}
#ligames {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  height: 495px;
  overflow-x: auto;
}
#box {
  height: 800px;
  width: 100%;
  /* box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5); */
}
#project {
  height: 800px;
  width: 100%;
  /* box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5); */
}
#pro {
  margin-bottom: 60px;
}
.eduimp,
.learnimp,
.workimp,
.achivimp {
  height: 800px;
  /* box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5); */
}
#edu {
  margin-bottom: 50px;
}
.listing {
  list-style: none;
  line-height: 40px;
}
.connect {
  height: 270px;
}
.dang {
  display: block;
  padding-top: 10px;
  padding-left: 200px;
  text-align: left;
  word-spacing: 5px;
  font-size: 20px;
  line-height: 1.3;
}
.connectlinks {
  /* padding-top: 5px; */
  padding-left: 200px;
}
.connectlinks a {
  padding-right: 20px;
}
.misc {
  padding-left: 200px;
  margin-bottom: 50px;
}
footer {
  padding-left: 200px;
}
details {
  cursor: pointer;
}
#foot {
  font-size: 10px;
}
.role
{
  font-size: 30px;
  font-weight: bold;
}
.impscroll
{
  height: 470px;
  overflow-y: scroll;
  /* box-shadow: 0 0 2rem 0 rgba(0.1, 0.1, 0.1, 0.1); */
}
.date
{
  color: rgb(221, 221, 221);
  display: inline;
}
.status-container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 50px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#status-text {
  font-size: 25px;
  color: #333;
}
.headingpro
{
  text-align: center;
}
a
{
  text-decoration: none;
}
.project-content
{
  padding-bottom: 40px;
}